@font-face {
  font-family: "HeadinSpace-Regular";
  src: url("../fonts/HeadinSpace-Regular.ttf");
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #000;
  font-family: "HeadinSpace-Regular";
  text-align: center;
}


/** HEADER **/
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}


.folder-top {
  margin: auto;
  width: 800px;
  height: 100px;
  border: 10px solid white;
}

.file {
  width: 100px;
  border: 1px solid white;
  border-bottom: 0;
  margin-right: 5px;
  margin-top: 50px;
  border-radius: 10px;
}


.marker {
  width: 50px;
  height: 75px;
  border: 1px solid white;
  position: relative;
  right: -100px;
  border-bottom: 0;
  margin-left: 10px;
  margin-top: 20px;
/*  writing-mode: vertical-rl;
  text-orientation: mixed;*/

}


.main {
  margin: auto;
  width: 800px;
  height: 600px;
  border: 10px solid white;
  text-align: center;
}


#name {
  font-size: 4.0em;
  margin-top: 100px;
}


/** BODY **/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  border-radius: 5px;
  background-color: #000;
  padding: 20px;
}

/** ABOUT ME **/

#aboutme {
  border: 2px solid white;
  border-radius: 2px;
  margin: 75px 50px 25px 50px;
}